/* Table of contents 
general
header.php
front-page.php
home.php
single.php
comments.php
sidebar.php
media query
*/

/* -------------------------------------------------- general */

html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f2f2f2;	
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

/* -------------------------------------------------- fonts */

body {
	font-family: "Arial";
}


/* -------------------------------------------------- footer.php */
 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #85929E ;
}

/* -------------------------------------------------- header.php */

/* Ads space at top of header */ 
.custom-front-page-ads-jumbotron {
	margin-bottom: 0px;
	background-color: #AEB6BF;

}

/* navbar */

.custom-header-navbar {
	margin-bottom: 0px;
}

.custom-header-custom-logo {
	padding-top:  0px;
	padding-bottom: 0px;
	padding-right: 20px;
	margin: 0px;
}

.custom-header-custom-logo img {
	height: 50px !important;
	width: 50px !important;
}

/* -------------------------------------------------- front-page.php */

.custom-fornt-page-jumbotron {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-size:cover;
}

.custom-fornt-page-jumbotron img {
	width: 100%;
}

/* Heading text with line behind */

.heading-1{
  position:relative;
  text-align: center
}

.heading-1:before {
  content: "";
  display: block;
  border-top: solid 2px #bebebe;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
}
.heading-1 span {
  background: #f2f2f2;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

/* -------------------------------------------------- home.php */

.custom-fornt-page-jumbotron {
	height: 500px;
}

.custom-home-page-thumbnail {
	margin-top: 10px;
}

.custom-home-page-img-responsive {
	margin: 10px;
	min-height: 200px;	
}
/* For content */
.custom-single-page-col {
	margin-top: 30px;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 100px;
}

.content-container {
	display: block;
}

.content-container p {
	display: block;
}

/* -------------------------------------------------- single.php */
.custom-single-featured-img {
	min-width: 100%;
	margin-bottom: 10px;
}

/* For video embeds */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
}

/* -------------------------------------------------- comments.php */

/* Custom comments style */
.comment-body {
	margin-top: 40px;
	margin-bottom: 30px;
}


/* -------------------------------------------------- sidebar.php */

.custom-widget ul {
	padding-left: 10px;
}
.custom-widget ul li {
	list-style-type: none;
}

/* -------------------------------------------------- search.php */

.custom-search-page-result {
	margin-top: 20px;
}

.search-excerpt { 
background-color:yellow;
color:blue;
}

/* -------------------------------------------------- media query */


/*
* For medium and small screens breakpoints
*/

@media only screen and (min-width : 767px) {
	.custom-front-page-img-responsive {
		min-height: 200px;
		max-height: 200px;
	}

	.custom-home-page-img-responsive {
		object-fit: cover;
	}
}

@media only screen and (min-width : 992px) {
	.custom-front-page-img-responsive {
		min-height: 300px;
		max-height: 300px;
	}

	.custom-home-page-img-responsive {
		object-fit: cover;
	}


}
